<div class="settings-app">
  <div class="main-content">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://play-lh.googleusercontent.com/nCVVCbeSI14qEvNnvvgkkbvfBJximn04qoPRw8GZjC7zeoKxOgEtjqsID_DDtNfkjyo" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Naruto</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/c70e7a40d881f0aef4f46148cd89071b.jpeg?x-expires=1656759600&x-signature=898yjlcQEux9v0ozpu%2FQM3bAdp4%3D" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Itachi</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.cults3d.com/O1ONl_ELMghzpqa5oskfut6ojRM=/516x516/https://files.cults3d.com/uploaders/14161853/illustration-file/f99ab411-a574-4b1c-9897-3d62a34e34e0/2884254d8cdeaf0855ff094e613119bd_display_large.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Madara</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i1.sndcdn.com/avatars-000303191614-rsymye-t500x500.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hashirama</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://i1.sndcdn.com/avatars-000303191614-rsymye-t500x500.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hashirama</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
